[2016-05-22 23:25] pmulac opened #1 "Address bar location is not updated when toggling [Router] actions in devtools"
When you "undo" router actions via ngrx/devtools, the location path in the browser's address bar does not revert.

For example, say my app's home route is `/`.  If I navigate to `/routeA` with ngrx/router, the "update location" action fires and is displayed in the devtools, as expected.  If you toggle the action in the devtools, the route-view correctly reverts to the component associated with the

[2016-05-23 00:06] MikeRyanDev commented on #1
That's correct behavior. It becomes a lot more complicated if you want the address bar to sync up as well, and it would muck up the browser's history stack with a lot of extra push/replace calls.

Going to close this but feel free to discuss if this is something you would want in the future.

[2016-05-23 00:06] #1 closed

[2016-06-24 08:08] emilianosantucci opened #3 "Binding Angular 2 Component Router v3 w/ ngrx/store"
After collaboration between angular and ngrx teams to develop new angular component v.3, it is possible to integrate this module with that?

Regards,
Emiliano

[2016-06-24 21:35] Hongbo-Miao opened #4 "Not working with ngrx/store v2"
After updating from v1 to v2 ngrx/store. I got a blank page.

Refer to the original question on [Stack Overflow](http://stackoverflow.com/questions/38021855/blank-page-after-updating-to-v2-ngrx-store/).

[2016-07-02 22:46] JonnyBGod commented on #3
+1

[2016-07-10 01:03] cartant commented on #4
In the Stack Overflow conversation, you've said:

Do you have any more information regarding how the router-store does not "work well" with the store? I note that the router-store is used in the [example-app](https://github.com/ngrx/example-app/blob/master/package.json#L49-L50) - which uses version 2.0.0 of the store - hence my curiosity. If I use it, what should I be looking out for?

[2016-07-24 17:57] hongbo-miao commented on #4
@cartant I was using ngrx/router before. It gives me a blank page. No error, no warning.
Now I migrated to v3 router. It won't show a blank page, but just do not work.

So I will close this because dup with https://github.com/ngrx/router-store/issues/3

[2016-07-24 17:57] #4 closed

[2016-08-26 12:15] #3 closed

[2016-08-26 13:08] metanav opened #6 "Is it still dependent on @ngrx/router?"
When I run following command to install @ngrx/router-store,
npm install @ngrx/router-store --save

It throws an error:
@ngrx/router-store@0.0.1 requires a peer of @ngrx/router@^1.0.0-beta.0 but none was installed.

[2016-08-26 13:51] metanav commented on #6
I think it will be resolved by new tag as at master branch there is no such dependencies.

[2016-08-26 13:51] #6 closed

[2016-08-26 14:26] BrainCrumbz opened #9 "router.navigate NavigationExtras has no replaceUrl"
Not sure it's just us or what. In my team we're experimenting with latest router-store version taken from this repo (and importing it as `import ... from '@ngrx/router-store/lib';`.

When building, there's an error on *lib\connect.ts*:

[code]

due to this line:

[code]

as, at least for current angular2 RC5, that `replaceUrl` field is not defined in type `NavigationExtras`.

Is it just us? Thanks

[2016-08-26 16:06] brandonroberts commented on #9
Correct. It will come with RC6. A fix has been added for now.

[2016-08-26 16:06] #9 closed

[2016-08-29 01:07] qdouble opened #11 "Are there plans of adding matrix params?"
I'm looking to use router-store in my effects, but there doesn't appear to be any non convoluted way to route by matrix params. Kind of a deal breaker for me at the moment, is support for this planned?

[2016-08-29 15:02] brandonroberts commented on #11
Support for an array of commands will land with #12

[2016-08-30 02:24] #11 closed

[2016-08-31 09:12] firecube opened #13 "Question: How can I evaluate some code to determine the route to navigate to?"
Hi,

I am loving all these ngrx libs.

Right now I am using @effects which listen for my custom router actions e.g. CUSTOMER_PAGE_FORWARD and then navigate with the Angular router.  If the state needs to be interrogated to determine where to navigate I can do this directly in the @effect.  This way, my pages can be dumb and just do something like this.store.dispatch(this.routingActions.customerFor

[2016-09-01 10:00] firecube opened #14 "Default value of state in routerReducer is null which causes store-log-monitor to error on a reset"
As the state defaults to null in the reducer clicking reset in the dev tools throws an error...

Cannot read property 'path' of null.

If I edit the line in reducer.js to the line below it works fine in my app but not sure if there are any wider implication or a better fix.

 if (state === void 0) { state = { path: '' }; }

[2016-09-01 12:56] firecube commented on #14
I can also get round this issue by doing this in my app module which may be the recommended approach rather than just a work around.

StoreModule.provideStore(reducer, { router: { path: '' } })

[2016-09-05 13:34] MrChoclate commented on #14
What about  `window.location.pathname` ?

[2016-09-07 03:03] pmulac opened #15 "Support all NavigationExtras options"
The Angular router provides a means to preserve query parameters and fragments across navigations via the `NavigationExtras` parameter.  It would be great if the router-store actions supported these.

The [router docs](https://angular.io/docs/ts/latest/guide/router.html#!#query-parameters) illustrate how to use `NavigationExtras` with the router service.

[2016-09-12 01:27] brandonroberts commented on #14
Setting this initial value for the reducer is the recommended approach. I didn't want to set the initial value using `window.location` so it would be safe to use where `window` isn't available.

[2016-09-12 01:27] #14 closed

[2016-09-12 07:54] firecube commented on #14
Thanks @brandonroberts, I will use the initial value.

I do wonder whether this should also default in the router-store code as without this the ngrx store-log-monitor reset button causes the app to crash.

[2016-09-12 12:04] brandonroberts commented on #14
I'll add it to the README for defaulting to an initial value

[2016-09-13 11:54] #15 closed

[2016-09-13 15:35] ritz078 opened #18 "Difference in title and readme"
title says "Bindings to connect ngrx/router to ngrx/store"
whereas in readme it is "Bindings to connect angular/router to ngrx/store"

[2016-09-13 18:21] #18 closed

[2016-09-15 14:26] ritz078 opened #21 "error while navigation"
I am getting the following error when I am navigating from one url to another using 'routerLink'.

<img width="859" alt="screen shot 2016-09-15 at 7 54 25 pm" src="https://cloud.githubusercontent.com/assets/5389035/18553542/6e602c3c-7b7e-11e6-9bc9-0378c4c3a7c4.png">

when i remove `RouterStoreModule.connectRouter()` from `app.module.ts`, the error disappears.

[2016-09-15 14:37] brandonroberts commented on #21
What's in your `routerLink`?

[2016-09-15 14:38] brandonroberts commented on #13
You would map your custom router action to a router-store action and that action will be picked up and navigation would occur.

[2016-09-15 14:46] firecube commented on #13
Would you mind giving a quick example?

Thanks, Simon

[2016-09-15 15:50] ritz078 commented on #21
`'/login'`

[2016-09-15 18:23] cport1 opened #22 "Correct way to implement on @NgModule?"
I keep getting this error after attempting to implement ngrx/router-store::

TypeError: Cannot read property 'call' of undefined
    at getLatestUrl (http://localhost:4200/main.bundle.js:66075:79)
    at connectRouterActions (http://localhost:4200/main.bundle.js:66079:109)
    at http://localhost:4200/main.bundle.js:66142:102
    at Array.forEach (native)
    at ApplicationRef_._loadComponent (htt

[2016-09-15 19:17] monad98 commented on #21
same problem with v1.2.2

[2016-09-15 19:24] monad98 commented on #21
This error happens only with "@ngrx/core": "1.2.0",

[2016-09-15 21:56] ritz078 commented on #22
In `app.module.ts`, change `StoreModule.provideStore({ reducer, router: routerReducer })` to `StoreModule.provideStore(reducer)`

[2016-09-15 22:03] brandonroberts commented on #13
[code]

[2016-09-15 22:04] brandonroberts commented on #22
Thanks

[2016-09-15 22:04] #22 closed

[2016-09-15 22:46] firecube commented on #13
So basically, exactly how I have it now!

Thanks so much @brandonroberts.

[2016-09-15 22:46] #13 closed

[2016-09-15 22:48] cport1 commented on #22
still getting the same error

[2016-09-16 00:03] brandonroberts commented on #22
Did you install `"@ngrx/core": "^1.2.0"`?

[2016-09-16 12:25] cport1 commented on #22
That resolved my issue above, but now I am getting the same error as  https://github.com/ngrx/router-store/issues/21

[2016-09-16 13:18] #21 closed

[2016-09-17 09:40] alyahmedaly opened #24 "Error when using router store with devtools [LogMonitorComponent]"
I got this error when using RouterStoreModule.connectRouter() with dev tools and click on **Revert Button**
`
core.umd.js:3462 EXCEPTION: Error in ./LogMonitorComponent class LogMonitorComponent - inline template:6:26 caused by: Cannot read property 'path' of nullErrorHandler.handleError @ core.umd.js:3462next @ core.umd.js:6924schedulerFn @ core.umd.js:6172SafeSubscriber.__tryOrUnsub @ Subscriber

[2016-09-17 20:33] brandonroberts commented on #24
See https://github.com/ngrx/router-store/issues/14. You can provide a default value for the router state. I'll add the default to the readme.

[2016-09-17 20:39] alyahmedaly commented on #24
Could you please provide an example here until you add it to read me

[2016-09-17 21:30] brandonroberts commented on #24
I submitted a fix for the issue as it has come up before. It will go out with the next release

[2016-09-19 00:46] #24 closed

[2016-09-19 00:48] brandonroberts commented on #24
Released as `1.2.4`

[2016-09-19 23:13] avoskresensky opened #26 "state.path is null which causes store-log-monitor to error on a reset/revert"
This is related to #14 and #24.
After the fix made in v1.2.4 store-log-monitor still crashes but for a different reason.
The error is now inside Router.navigateByUrl which is being passed a null which it cannot handle.

The fix seems to be pretty simple: listenForStoreChanges function

`  //newPath$.subscribe(url => router.navigateByUrl(url));`
`  newPath$.subscribe(url => url && router.navigateBy

[2016-10-04 09:09] wizardnet972 commented on #26
For now I did this fix:
https://github.com/wizardnet972/tic-tac-toe/blob/master/src/client/app/shared/store.ts#L34

until the bug resolve.

[2016-10-13 12:06] #26 closed

[2016-10-17 04:50] thaoula opened #28 "Javascript not include"
Hi guys,

Just want to confirm. Is NPM supposed to include a javascript file to use?

Currently it only include the TS files.

If yes, is the idea that I copy the src to my project?

Regards,
Tarek

[2016-10-18 01:27] brandonroberts commented on #28
The NPM release only includes javascript and TypeScript definition files. No TS files.

[2016-10-18 20:31] thaoula commented on #28
I just deleted the reference in package JSON and added it again. Seems to have brought back the correct JS files and umd builds.

I did notice that the package.json made reference to "github:version" rather than "^1.2.5".

[2016-10-19 00:30] brandonroberts commented on #28
How did you install it?

[2016-10-19 00:33] thaoula commented on #28
I am pretty sure i just used npm install ... however, I did also use yarn which seemd to update to the latest version.

I definitely did not manually add it to project.json

[2016-11-03 10:25] Noirox opened #29 "Angular Router - navigation event fired twice"
Hi,

when route is changed with Angulars Route, then the store will create new navigation event, which will result in two same router events.

For example:
[code]

After you click that link, router will do the navigation, which is then pickup by the listener from connect.ts as stored state is different, but it will also call the Router to change location to the same url, resulting into two same na

[2016-11-18 13:44] xaralis opened #30 "Support navigateByUrl equivalent"
There are times when `go()` is not sufficient as it uses `navigate` method internally. For example, when passing redirection links with URL params inside, internal use of `navigate` doesn't work well and params are not parsed properly. This can be solved by using `navigateByUrl`.

E.g. passing continue link with parameters: `/candidates/57f39a88720e1a181134ae25;back=%2Fcandidates`

This doesn't wo

[2016-11-18 15:27] petercn commented on #29
Has anyone looked into this? I believe I'm getting the same double firing behavior, any ideas for how to fix this?

[2016-11-20 04:05] brandonroberts commented on #29
Can someone provide a simple reproduction of this issue?

[2016-11-20 04:06] brandonroberts commented on #30
Reasonable enough. I'll look into adding this soon.

[2016-11-20 04:07] #28 closed

[2016-11-22 19:12] ciesielskico opened #31 "'unimplemented' error when using relativeTo: this.activatedRoute"
I'm using ngrx/effects in conjunction with router-store and trying to implement a basic navigation effect.

[code]

but I am getting `unimplemented` error when activating step 3 or 4.

[2016-11-23 03:10] brandonroberts commented on #31
The `ActivatedRoute` is specific to each route component, so its not possible to use it in an effect. If you're dispatching this effect from within your component, you'll have to provide the `ActivatedRoute` from within the component with your dispatched action.

Otherwise you'd have to use the root `ActivatedRoute` and walk down the tree of activated routes to get to the current route.

[2016-11-23 09:54] alexciesielski commented on #31
Makes sense, I will pass the activated route in the `payload` then, thanks.

[2016-11-23 09:54] #31 closed

[2016-11-23 13:35] adrian-moisa opened #32 "Trying to integrate ngrx/router-store with webpack HMR (hot module replacement)"
Hello,

I am trying to extend this **[seed](https://github.com/teropa/ngrx-hotload-rc5)** project to use `ngrx/router-store` and `angular/router`. It works ok until I try `RouterStoreModule.connectRouter()`.

    @NgModule({
        declarations: [
            TestComponent,
            RetestComponent,
            AppComponent
        ],
        imports: [
            AppRoutes,
            Brows

[2016-12-01 12:35] StevenLiekens opened #33 "Support static and resolved route data"
The Angular 2 router supports routes with static and/or lazily loaded data using resolve services. Currently I do not see any support for that in ngrx/router-store. I also don't see it being discussed anywhere.

You can find a high-level description of route data and resolve services here: https://vsavkin.com/angular-2-router-d9e30599f9ea#.rxc9egybq

My feature request is that actions of type `[Ro

[2016-12-01 13:33] sliekens commented on #33
I wrote an Effect that puts the current route's data in the store when `[Router] Update Location` is observed.

[code]

[code]
[code]

---

The result is a state object that looks like so:
[code]

It would be nice if my reducer could be merged into yours so that everything is contained in the `router` slice.

[code]

[2016-12-25 19:58] inzerceubytovani commented on #29
Same problem here, to reproduce just listen NavigationStart event:

`this.router.events.filter(event => event instanceof NavigationStart).subscribe(() =>console.log('nav start'));`

[2017-01-09 13:11] marklagendijk opened #34 "Missing documentation"
I'm currently in the process of setting up a big project with Angular and ngrx. I managed to figure out most things, but am missing some information about the `@ngrx/router-store`:

- When should `@ngrx/router-store` be used? For every `@ngrx` app? Or only for certain use cases?
- Do existing mechanisms like `routerLink` and `router.navigate` still work with  `@ngrx/router-store`?
- How should you

[2017-01-09 18:12] marklagendijk opened #35 "Add router event actions"
I think this module would be more useful if we would change it in the following way.
1. Rename the actions for `go`, `replace` etc to `TRIGGER_GO` etc.
2. Dispatch actions for all the [router events](https://angular.io/docs/ts/latest/api/router/index/Router-class.html#!#events-anchor).

This way we can use the action methods for triggering any router actions. This is an extra way to trigger router

[2017-01-10 08:55] IliaIdakiev commented on #13
I'm having trouble navigating with router-store in a lazy loaded module. I'm doing the same thing as shown by @brandonroberts but nothing is happening. Is there something additional that I have to include in my lazy loaded ngmodule for it to work?

[2017-01-10 12:54] mischkl commented on #30
Second this. In our case we have an authentication guard that saves the requested URL, and after login we attempt to dispatch an action that redirects to that URL. Problem is, without being able to use an equivalent to `navigateByUrl`, any complex routing + outlet information gets mangled due to the encodeURI that occurs when `navigate` is called. As a result we have to resort to calling `router.n

[2017-01-10 16:29] mischkl commented on #30
As referenced, I've submitted a pull request that adds this feature. :)

[2017-01-11 00:58] brandonroberts commented on #13
@IliaIdakiev can you provide an example of what you're trying to do? Preferably in a new issue since this issue is closed.

[2017-01-12 07:13] IliaIdakiev opened #37 "Problem dispatching GO action using effects in a lazy loaded module"
Hello.
I'm having a problem dispatching router-store actions inside a lazy loaded module. Inside the module I also have sub routing. The effect looks something like:

[code]

Since its a lazy loaded module inside my main component for the module I'm using:
[code]

and in the module:

[code]

While debugging the effect I saw is that ```listenForRouterMethodActions```  inside ```connect.ts``` is nev

[2017-01-15 19:58] brandonroberts commented on #37
@IliaIdakiev you should only include `RouterStoreModule.connectRouter()` in your `AppModule` `imports` and not in your lazy loaded module.

[2017-01-15 20:02] IliaIdakiev commented on #37
@brandonroberts I was just testing because it's not working so thats why I put it.

[2017-01-15 20:08] brandonroberts commented on #37
Can you provide more details about your setup? A reproduction in a plunker would also help

[2017-01-15 22:05] IliaIdakiev commented on #37
https://plnkr.co/edit/nxUGgSA0VTitgyZRbcdX?p=preview

[2017-01-16 00:19] brandonroberts commented on #37
The issue is that you're providing `StoreModule.provideStore(appReducerWithLazy),` as an import in your lazy loaded module. This is giving you another instance of Store since the Router creates a child injector for lazy loaded modules. You should only use the `StoreModule.provideStore` in your `AppModule`

Example: https://plnkr.co/edit/C0I1rW39ZefZJlUGdB08?p=preview

[2017-01-16 04:11] IliaIdakiev commented on #37
I see. Is there a way I can separate the effects being loaded? I don't want to load all my effects in the main module.

[2017-01-16 05:02] brandonroberts commented on #37
You can still lazy load your effects with your module. You just can't provide more than one instance of the Store. I wouldn't recommend lazy load those navigation effects though since you're likely going to use them across multiple modules.

[2017-01-16 06:07] IliaIdakiev commented on #37
@brandonroberts
So my problem was that in the effects I'm doing something like

[code]
and I was getting an error of ```cannot get property something of undefined``` because I'm running the effects (in the lazy loaded module) before replacing the reducer (in the main component of the lazy loaded module). I changed it to:

[code]
and its working.

Because of this error I thought that I have to prov

[2017-01-16 06:07] #37 closed

[2017-01-25 05:00] jculverwell commented on #34
I found these two videos really helpful:

* https://angular-university.io/lesson/angular-ngrx-adding-the-angular-router-to-the-chat-application
* https://angular-university.io/lesson/angular-ngrx-ngrx-store-router-integration-time-travelling-with-the-dev-tools

[2017-01-25 19:57] mattdistefano opened #38 "How to use with tagged union types?"
Assume we have a reducer using tagged union types - i.e. `function reducer(state: AppState, action: ActionTypeA | ActionTypeB | ActionTypeC): AppState { return state; }` - and wanted to handle a router action. This doesn't seem to work out of the box since the actions are untyped.

[2017-01-31 17:28] JBusch commented on #33
Looks really nice. I think that this is a nice and necessary feature.

[2017-01-31 18:15] brandonroberts commented on #33
This works fine if you only have one level of routes with data, but each level in your configuration can have route data.  So you'd have to collect all the route data from each level and avoid naming collisions.

Another issue is what kind of route data you're storing. The data in the state should be serializable to JSON so you can export/import it. If you're storing resolved instances of data, th

[2017-02-01 08:43] sliekens commented on #33
@brandonroberts, I don't understand how having multiple levels creates a difference. Can navigation to a (deeply) nested route result in there being more than a single instance of `ActivatedRoute`?

For the second issue: is it really an issue if the route data from a previous navigation event is not correctly (de-)serialized? Regardless of what route data is imported, the next navigation event rep

[2017-02-01 13:04] brandonroberts commented on #33
@StevenLiekens yes, there isn't just one `ActivatedRoute`. There is a tree of `ActivatedRoute`s that is composed of each route in a navigation event and each route component has its own `ActivatedRoute`.

As far as serialization, it comes more into play if you want to use the devtools to debug and walk back through your actions that changed your state. I'm not saying your use case isn't valid. Jus

[2017-02-02 14:48] AndriiDidkivsky opened #41 "dispatching go"
Hi, i have some routes.
[code]

When i'm on the tasks/redflag I try navigate to child route tasks/redflag/:id
`this.store.dispatch(go([task.Id], null,  { relativeTo: this.route }));`

But nothing happens.

Could you provide any advices ?
Thanks.

[2017-02-02 15:18] awerlang commented on #41
Have you imported `RouterStoreModule.connectRouter()`?

[2017-02-02 15:26] AndriiDidkivsky commented on #41
@awerlang , Of course.
Everything works fine. When I open direct link `www.url/tasks/redflag/1` it works.
So absolute path works fine. Strange that
 `this.router.navigate([task.Id], { relativeTo: this.route })`
doesn't work too. [Official documentation](https://angular.io/docs/ts/latest/guide/router.html) says that it should.

Error from promise 'Cannot match any routes. URL Segment: 1'

[2017-02-02 15:33] brandonroberts commented on #41
Where is `this.route` from? Are you doing this within an effect?

[2017-02-02 15:40] AndriiDidkivsky commented on #41
@brandonroberts , `this.route `is `ActivatedRoute` that already injected into component constructor.
Dispatching happens directly in the component. I can migrate this code in Effects but don't see any reasons to do it now. Because it just doesn't work in any places.

It works fine if I dispatching absolute path `this.store.dispatch(go(['tasks/redflag/1']));`

[2017-02-02 15:43] brandonroberts commented on #41
No need to, just trying to get a frame of reference. You're dispatching this action from the `TaskList` component where you've injected `ActivatedRoute`, correct?

[2017-02-02 15:44] AndriiDidkivsky commented on #41
Absolutely correct.

[2017-02-02 15:46] AndriiDidkivsky commented on #41
I can provide more info about the project.

[2017-02-02 15:48] brandonroberts commented on #41
Yes, that would help. If you could reproduce in a plunker that would be even better.

[2017-02-02 15:50] AndriiDidkivsky commented on #41
ok, thanks. I'll try to do that in the near future.

[2017-02-02 15:52] brandonroberts commented on #41
For debugging purposes, will you add this to your `RouterModule.forRoot(routes)`

`RouterModule.forRoot(routes, { enableTracing: true })`

Then open up your developer console and paste what it says when you try to navigate there

[2017-02-02 16:00] AndriiDidkivsky commented on #41
@brandonroberts , I've changed
`this.router.navigate([task.Id], { relativeTo: this.route })  `
to
`this.router.navigate([task.Id], { relativeTo: this.route.firstChild })`
Everything fine now. Thanks, I close issue,

[2017-02-02 22:26] brandonroberts commented on #38
This should still work in your reducer. The type is still a string.

[code]

[2017-02-02 22:44] brandonroberts commented on #35
The main intent of this library is to keep your store in sync the Angular Router URL, since its the source of truth as to what's display on the page.

I'll look into adding the router events, but its also easy enough to map the router events into the store without adding them to this package.

[2017-02-02 22:45] brandonroberts commented on #34
Agreed. I'll work on better docs unless someone wants to contribute a PR

[2017-02-02 23:00] mattdistefano commented on #38
The problem with that usage is that it seems to break the type inference magic typescript does w/ the union types and consequently I lose type checking on the action payload.

[2017-02-02 23:06] brandonroberts commented on #38
I see. I'll looking to adding typed actions soon. You can also create your own typed action and use it in the reducer.

[code]

[2017-02-06 09:08] AndriiDidkivsky commented on #41
Hi' again.
I've found that ActivatedRoute always contains root component.
I think it's configuration issue, but i don't know how to resolve  it.

[2017-02-06 09:39] AndriiDidkivsky commented on #41
I've found solution. It's just my mistake.

[2017-02-06 09:39] #41 closed

[2017-02-08 17:28] philipbulley commented on #33
Replicating router state in the store sounds incredibly useful (ie. for use in selectors). At the very least, data derived directly from the URL itself like `queryParams`, `params`, etc. Considering the tree of `ActivatedRoute`s, what might this look like within the store?

[2017-02-08 17:38] philipbulley commented on #35
Is it even appropriate to wrap/replicate the `router.navigate` functionality within this lib? Seems like its just a duplication of effort for very little gain (also thinking about #30). There's nothing wrong with using the `Router` API, right?

[2017-02-08 18:06] brandonroberts commented on #33
Victor Savkin has prototyped replicating the router state in the store here which contains params and static data. https://github.com/vsavkin/router-store-prototype

[2017-02-12 11:31] jalalat opened #42 "CD does not kickin after go action"
Hi,

I followed the steps (which are very similar to ngrx/router). I had the same issue on ngrx/router as well. Issue is once i submit a go action from my effects like:

@Effect()
    logOffSuccess$: any = this._actions$
        .ofType(ActionTypes.LOGOFF_SUCCESS)
        .map(() => go(['']));

I am successfully taken to home page. Problem is UI kind of frozen in the sense Change detection is not

[2017-02-23 15:23] RPDeshaies opened #43 "Add route params to the payload"
It would be nice if the route params would be inserted inside the payload of the action so a route like :

`/user/:id`

would give something like
[code]

That way, every component inside the app (that is not directly the Route Component) could subscribe  to route params

[2017-02-28 12:29] gausie commented on #43
Modifying the action payload sounds like a bad idea but it would be good to have a discussion on accessing the route params in a more reduxy way

[2017-03-01 10:06] intojs opened #44 "No action is dispatched when using the browser's back and forward buttons"
I think it would be a good idea to dispatch actions when we use the browser's back and forward buttons.
This way we can listen to these actions in our reducers and manipulate the state.
Thank you:)

[2017-03-06 15:23] denissb opened #45 "Subscribing to route changes from the store"
I am implementing ngrx in my application by following  [ngrx-example-app](https://github.com/ngrx/example-app) and I don't get emissions from the observable when I try to subscribe to the changes on the path in the store. Is it possible to get updates once the path changes?
I don't get the reason, am I doing something wrong or is this simply not possible and I should just subscribe to the router?

[2017-03-06 15:31] brandonroberts commented on #45
Your router reducer should `router: fromRouter.routerReducer`

[2017-03-06 15:31] #45 closed

[2017-03-06 16:35] denissb commented on #45
Thanks, dumb mistake on my part

[2017-03-09 10:51] chrisse27 commented on #42
Same problem here. Also happens with "replace"

[2017-03-09 13:23] chrisse27 opened #46 "RouterStoreModule registers router listeners for every bootstrapped component"
We are using ngrx in a setup where an app consists of multiple components:

[code]

RouterStoreModule.connectRouter() registers an APP_BOOTSTRAP_LISTENER that is supposed to register a bunch of router/store listeners during the bootstrap process. However, it registers these listeners every single time a component is bootstrapped.

Looking at how the router handles the bootstrap process one can see

[2017-03-09 20:58] brandonroberts commented on #42
Can you reproduce this in a plunker? Here is simple one that's already setup http://plnkr.co/edit/xQcWbyObwXwBrO8XH9hC?p=preview

[2017-03-10 08:45] chrisse27 commented on #42
We actually figured out yesterday, what the reason was/is: the effect is running due to an action that has been dispatched from within a resolver of a route. During execution of the effect the xhr request fails due to invalid session and a logout action is dispatched which results in another 'replace' action being called. However, nobody told the router that the resolution of the original route ac

[2017-03-10 14:51] #42 closed

[2017-03-15 01:00] llwt commented on #35
@milkisevil I'm beginning to think the same thing. I'm currently running into an issue using the module with Nativescript where I need to call `.navigate()` on a module `RouterExtensions` instead of `Router` [to support transitions](https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#specifying-page-transitions).

Trying to think through how I stick with this pattern of emi

[2017-03-15 01:12] brandonroberts commented on #35
The actions are provided so that your navigation can flow through your state. Also if you're using the devtools to debug and time travel through the state, those actions with trigger navigation along with your state changes.

There is going to be an update to this library that no longer uses router actions for navigation and takes a different approach to reducing the state during navigation. There

[2017-03-15 01:28] llwt commented on #35
@brandonroberts Thanks for the quick response. That's great news!

[2017-03-16 11:01] kemalcany opened #47 "Is this repo being maintaned? If so, are there any plans to update/sync it with the syntax used in ngrx/example-app?"
Hi guys,

@brandonroberts @MikeRyan52  and others, this is a great library and thank you very much for providing it!

However, there hasn't been much activity here lately and it would be good to know if there are any plans to synchronise it with the rest of ngrx suite?

I have a feeling that the ngrx/example-app repo demonstrates the latest syntax and best practices to use the ngrx components (suc

[2017-03-21 12:06] chrisse27 commented on #46
@robwormald Any thoughts on this?

[2017-03-21 12:15] brandonroberts commented on #46
There will be a new version of this lib released soon that fixes this issue.

On Mar 21, 2017 7:06 AM, "Christoph Krautz" <notifications@github.com>
wrote:

[2017-03-21 12:30] chrisse27 commented on #46
Thanks for the update @brandonroberts

[2017-03-21 12:39] chrisse27 commented on #46
Let me know if I can help.

[2017-03-23 21:14] llwt commented on #47
Looks like there is a new version of the project coming soon: See [vsavkin/router-store](https://github.com/vsavkin/router-store).

Ref #35

[2017-03-26 04:53] austbot opened #48 "Not compatible with @ngrx/store master"
While using @ngrx/store from #master branch I get this while compiling. I wanted to use the fractal state management features. Looks like the api for @ngrx/store has a breaking change for this module.

ERROR in ...node_modules/@ngrx/router-store/src/router-store-module.d.ts (4,10): Module '...node_modules/@ngrx/store/index"' has no exported member 'Dispatcher'.

[2017-03-26 22:58] #47 closed

[2017-03-26 22:59] brandonroberts commented on #48
There is a newer version of this library coming soon that does not have this issue: See https://github.com/ngrx/router-store/issues/35#issuecomment-286610986

[2017-03-26 22:59] #48 closed

[2017-04-03 21:57] ZheyangSong opened #50 "PeerDependency Complaining on @angular/core, @angular/common and @angular/router"
Would there be an update to support the Angular 4 related libs? Or is this lib being deprecated?

[2017-04-04 12:41] s-ve commented on #50
Please correct me if I am wrong but it seems this library will be deprecated in favor of [this one](https://github.com/vsavkin/router-store).

[2017-04-04 14:26] chrisse27 commented on #46
@brandonroberts Is the code for this already in some branch that I could have a look at? Can I help with the release of the new version?

[2017-04-05 08:06] chrissena commented on #46
I could be wrong but I think this [repo](https://github.com/vsavkin/router-store) has the future router-store.
Is that correct?

[2017-04-09 23:11] dojchek commented on #46
@chrissena
I see this being mentioned for the second time now. I also use this library - tbh, I wouldn't like to go thru another router migration.. That would be the 3rd one for me :)

Can anyone please confirm this?

[2017-04-09 23:33] brandonroberts commented on #46
@dojchek there is a new version coming but it will be the same project. There will also be some breaking changes but the issue in question will be fixed in the new version. We just had ng-conf this past week but the new version will be released soon.

[2017-04-09 23:44] brandonroberts commented on #50
There is a new version coming with support for the latest Angular

[2017-04-09 23:44] #50 closed

[2017-04-10 12:17] dojchek commented on #46
@brandonroberts Thanks for the valuable info! This is awesome news 👍

[2017-04-12 13:07] prostoandrei opened #51 "go(['/login'] doesn't update state router.path in Observables catch"
I have a problem with router state update when I perform `this.store.dispatch(go(['/login']));`.

It works everywhere in my app, but not in this catch.

    return this.http.request(url, options).catch((error) => {
      if (
        error.json().code === ERRORS.INVALID_ACCESS_TOKEN ||
        error.json().code === ERRORS.ACCESS_TOKEN_EXPIRED
      ) {
        return this.token
         .getNewTok

[2017-04-13 00:57] davefedele commented on #50
Any chance you can update your package.json to support angular 4. We're unable to use shrinkwrap because of the dependency errors. Thanks!
[code]

[2017-04-13 01:05] brandonroberts commented on #51
This is expected behavior from the router. If you're on that route and you navigate to the same URL, its not going to navigate again as its aggressive about reusing route components.

[2017-04-13 01:05] #51 closed

[2017-04-13 01:06] brandonroberts commented on #43
The next version of this library will have access to the router state, giving you access to the route params

[2017-04-13 01:06] #43 closed

[2017-04-13 01:06] brandonroberts commented on #33
These changes have been implemented in the monorepo where we are migrating the packages: https://github.com/ngrx/platform

[2017-04-13 01:06] #33 closed

[2017-04-13 01:12] RPDeshaies commented on #43
That is awesome. When will this version be released ?

[2017-04-13 01:17] brandonroberts commented on #43
We are targeting May at the latest for the next release. We are migrating the individual repos to a monorepo and getting the infrastructure together for that. Then we'll cut an alpha release for feedback.

[2017-04-13 03:34] prostoandrei commented on #51
@brandonroberts I don't think that it's expected behavior.

I have a state:
-> `router.path: '/home'`
Then I perform `this.store.dispatch(go(['/login']))` inside of my service method. Then I get state:
-> `router.path: '/home'` // still `/home` but it should be `/login`

Action `[Router] Go` was dispatched,  but `[Router] Update` Location wasn't.

When I perform `this.store.dispatch(go(['/home']))

[2017-06-19 19:19] thebarada opened #54 "Dispatch go not working in canActivate if dispatch event in ngOnInit"
**Repo for reproduce**:
https://github.com/thebarada/ngrx-router-can-activate-bug
Just try go to /profile - path will be empty
Then comment dispatch on ngOnInit in AppComponent and try one more time - path will be '/login' and it is correct

**Description**:
I create canActivate guard where redirect to login if user non-authorized
Also on init AppComponent I dispatch event for load some data

I su

[2017-07-01 02:19] clavecoder commented on #33
When will this be released? When it is released, how will the API change?

[2017-07-09 09:09] antonbarada commented on #54
hey guys
any updates?

[2017-07-10 12:37] Hirse commented on #34
@jculverwell Unfortunately the first video seems to be behind a paywall.

@brandonroberts Could you provide some answers to the questions above?

[2017-07-18 17:03] richarddavenport commented on #30
We have a case where we need to navigate to outlets and the url looks like `/orders/(25143084//modal:order-cancel)`. The `navigate` api does not like this, but `navigateByUrl` works perfect. I'm going to get a PR going...we need this...

[2017-07-18 19:59] richarddavenport commented on #30
Never mind, we'll be switching over to v4.x!

[2017-07-18 20:04] mischkl commented on #30
~~@richarddavenport what do you mean, 4.x of what? Angular? I googled for ngrx 4.x and couldn't find a thing.~~

~~If Angular 4.x, what difference does it make? We are using @ngrx/router-store with ng4 already.~~

nm I found it, looks like they moved all packages into one GitHub repo. https://github.com/ngrx/platform

[2017-07-18 20:13] mischkl commented on #30
One thing still mystifies me: How can I do a navigation as part of an effect? Seems to me this is not possible anymore, without doing a `switchMap` and returning `empty()`.

[code]

before it was easier:
[code]

[2017-07-18 21:00] richarddavenport commented on #30
@mischkl  I believe you would just not dispatch an action:
[code]
And if you switch to v4 then the actions will be dispatched for you.

[2017-07-18 21:13] mischkl commented on #30
@richarddavenport afaik you can't return a `Promise<boolean>` (the return type from `this.router.navigate(['blah'])`) or even a void (if you used closure syntax and didn't return anything), because it's expecting you to map to an Action. That's why you need to do a switchMap and return an empty Observable from it.

With the previous version the actions were dispatched just like in the new one. The

[2017-07-18 21:21] richarddavenport commented on #30
@mischkl I'm talking about not dispatching an action...`@Effect({ dispatch: false })`
[https://github.com/ngrx/effects/blob/master/docs/api.md#effect](https://github.com/ngrx/effects/blob/master/docs/api.md#effect)

<blockquote>Pass { dispatch: false } to the decorator to prevent actions from being dispatched.</blockquote>

It's my understanding that you use that when you don't want to return an a

[2017-07-18 21:25] mischkl commented on #30
Aha totally awesome, thx for the tip @richarddavenport! Very, very handy! And if you did the same thing with ngrx v3, you would create an endless loop! 😄

[2017-07-24 09:54] pjmagee commented on #35
@brandonroberts  so what would we now do in 4.X with router-store where I'm currently migrating but used go/back/forward?

[2017-08-04 19:13] bradseefeld commented on #54
We are running into a similar issue, but I think the bug may be against @angular/router, not router-store. We have replaced our `dispatch(go([...]))` calls with `router.navigate` and it still does not work.

I have found [this issue](https://github.com/angular/angular/issues/13174) which seems to be the cause, but its closed as fixed. One of the suggestions was to use `{initialNavigation: false}`

[2017-08-16 09:57] TylerYang commented on #43
Hi @brandonroberts Any plans for this feature?

[2017-11-02 16:51] YoussefTaghlabi opened #56 "Add query params to RouterState"
Currently, `RouterState` hosts only a `path`; It will be nice if it can host a `queryParams` object and enhance  `connectRouterActions` to dispatch it.
[code]

[2017-11-06 14:29] DominicBoettger opened #57 "Load component based on route"
Hello

Do you think it's possible to create a effect based on a route which will send the url to a api and the result will return the type. Based on the type a component is resolved and filled with data. If a error is resolved the page will go through the normal routing or to a error page.

Did somebody try to do this with the router-store?

Best regards
Dominic

[2017-11-16 23:02] bhambanip opened #58 "Router Update_location is modifying router data"
I am sending semicolon in router path and update-location is modifying it and adding `=` at the end.

Any idea why?

[2017-11-22 00:00] artem-v-shamsutdinov commented on #44
Yep, same issue here.  We started a new project here and have our router.navigate calls in a single @Effect that centralizes routing side effects.  But now back and forward browser navigation is broken. :(

[2018-03-26 15:20] dresdor commented on #29
This appears to still be happening. Is there any workaround (besides designing anything that listens to this to be able to fire twice without issue) or any plan to fix this?

[2018-03-28 14:12] aerlijman commented on #29
I came to this issue having a bug with the back button, that if I do this A->B->C and click back, it loops betwen C and B instead of going back to A. I am pretty sure it is related to this issue of the NavigationStart being fired twice. Any update?

[2018-03-30 13:35] brandonroberts commented on #29
No updates. Version 2.x of `@ngrx/router-store` is no longer being maintained. You should upgrade as we have a full migration document from 2.x to 4.x(the same migration applies to 5.x which is the latest version).

[2018-04-03 12:00] aerlijman commented on #29
But this is still happening in Angular 5.x the one I have upgraded when I detected this thing.
Any ideas? Are you still being able to duplicate it?

[2018-04-03 14:21] dresdor commented on #29
@aerlijman can you share the code you are using to listen to the event?  We discovered that if we use any of the events that get called by the routing process (ngOnInit, ngOnInitFinished, etc) that the method will get called once during the normal routing process and again when the listener hits

[2018-04-03 15:36] aerlijman commented on #29
In ngOnInit I have

[code]

[2018-04-05 08:12] felikf commented on #29
Hi, I am facing similar issue with `ActivationEnd` fired twice for single navigation (Angular 5, NGRX 4).

I have tried to isolate the issue here: https://github.com/felikf/angular-router-double-navigation

The interesting part is in [router.effects.ts](https://github.com/felikf/angular-router-double-navigation/blob/master/src/app/core/effects/router.effects.ts):

    private listenToRouter() {

[2018-04-12 12:27] talamaska commented on #33
Where is this implemented in Platform? Via the RouterStateSerializer? Not sure but I'm having issues getting the data of a child route

[2018-04-12 15:29] attilacsanyi commented on #33
Dear @talamaska afaik you can define your custom `RouterStateSerializer` which read the `data` property based on `ActivatedRouteSnapshot`
[code]

I hope this helps.

[2018-04-16 10:09] talamaska commented on #33
@attilacsanyi thanks

[2018-05-09 17:14] ohabash commented on #29
I got around this by making sure to unsubscribe at the appropriate times. in my case it was

[code]

[2018-06-12 02:59] BBaysinger commented on #29
I'm seeing one subscription to `router.events` yield three calls to the callback function, and each reports `instanceof event` as `ActivationEnd`.

[code]

Is this really a bug, or am I missing something?

[2018-06-12 03:32] BBaysinger commented on #29
Oh. I figured out my problem: https://stackoverflow.com/a/50808849/1253298

I should have been using NavigationEnd, not ActivationEnd.

[2018-06-14 19:38] TPiddy opened #59 "StoreRouterConnectingModule --> Outlet is not Activated"
Hi, I'm encountering a weird issue that I was hoping I could get some help with.

Without adding the Connecting module, my app works fine. The second I add it, I get the "Outlet is not activated" error along with a large error stack.

My application is lazily loading a feature module, complete with feature state as well. It's internal so I can't share it, trying to provide as many details as possi

[2018-06-14 19:38] TPiddy commented on #59
`StoreModule.forRoot(appReducer,
  {
    initialState : { app: appInitialState },
    metaReducers : !environment.production ? [storeFreeze] : []
    }),
    EffectsModule.forRoot([]),
    !environment.production ? StoreDevtoolsModule.instrument() : [],
    StoreRouterConnectingModule`

[2018-06-14 19:40] TPiddy commented on #59
The outlet is not activated error is thrown from store devtools